$main-color: #DA3131;
$main-color-lighter: #f06363;
$second-color: #2f222e;
$back-color: #EEEEEE;
$back-color-2: #E1E1E1;
$back-color-3: white;
$font-color: #301951;
$font-color-2: #848484;
$font-color-invert: white;
$font-color-link-hover: #DA3131;
$error-color: #DC6379;

$main-font:  "Montserrat", -apple-system, Helvetica, Arial, sans-serif;

$size-sidebar: 70px;
$bd-radius: 20px;