@use "variables" as v;

@font-face {
	font-family: "Helvetica Neue";
	src: url("/fonts/helvetica/Pragmatica-ExtraLight.ttf");
	font-weight: 100;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url("/fonts/helvetica/Nimbus-Sans-Light.ttf");
	font-weight: 200;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url("/fonts/helvetica/FreeSans.otf");
}
@font-face {
	font-family: "Helvetica Neue";
	src: url("/fonts/helvetica/Pragmatica-Medium.otf");
	font-weight: 500;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url("/fonts/helvetica/FreeSansBold.otf");
	font-weight: bold;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url("/fonts/helvetica/WarowniaUlt.otf");
	font-weight: 800;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url("/fonts/helvetica/Nimbus-Sans-Becker.otf");
	font-weight: 900;
}


@font-face {
	font-family: "manrope";
	src: url("/fonts/manrope/web/Manrope-ExtraLight.woff");
	font-weight: 100;
}
@font-face {
	font-family: "manrope";
	src: url("/fonts/manrope/web/Manrope-Light.woff");
	font-weight: 200;
}
@font-face {
	font-family: "manrope";
	src: url("/fonts/manrope/web/Manrope-Regular.woff");
}
@font-face {
	font-family: "manrope";
	src: url("/fonts/manrope/web/Manrope-Medium.woff");
	font-weight: 500;
}
@font-face {
	font-family: "manrope";
	src: url("/fonts/manrope/web/Manrope-SemiBold.woff");
	font-weight: 600;
}
@font-face {
	font-family: "manrope";
	src: url("/fonts/manrope/web/Manrope-Bold.woff");
	font-weight: bold;
}
@font-face {
	font-family: "manrope";
	src: url("/fonts/manrope/web/Manrope-ExtraBold.woff");
	font-weight: 800;
}


@font-face {
	font-family: "Montserrat";
	src: url("/fonts/montserrat/Montserrat-Thin.ttf");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/montserrat/Montserrat-ExtraLight.ttf");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/montserrat/Montserrat-Light.ttf");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/montserrat/Montserrat-Regular.ttf");
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/montserrat/Montserrat-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/montserrat/Montserrat-ExtraBold.ttf");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/montserrat/Montserrat-Black.ttf");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("/fonts/montserrat/Montserrat-ThinItalic.ttf");
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/montserrat/Montserrat-ExtraLightItalic.ttf");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/montserrat/Montserrat-LightItalic.ttf");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/montserrat/Montserrat-RegularItalic.ttf");
	font-style: italic;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/montserrat/Montserrat-BoldItalic.ttf");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/montserrat/Montserrat-ExtraBoldItalic.ttf");
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: "Montserrat";
	src: url("/fonts/montserrat/Montserrat-BlackItalic.ttf");
	font-weight: 900;
	font-style: italic;
}



* {
	box-sizing: border-box;
}

html,
body,
#__next {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: v.$back-color;
	color: v.$font-color;
	fill: v.$font-color;
	font-size: 20px;
	font-family: v.$main-font;
	scroll-behavior: smooth;
}

div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
a img { border: 0; }

h1, h2, h3, h4, h5, h6 {
	color: v.$font-color;
}
h2 {
	font-size: 40px;
	font-weight: 800;
}

strong {
	color: v.$main-color;
}

main {
	display: block; //For browser that doesn't support
}