@use "variables" as v;

.container {
	height: 100%;
	min-height: 100vh;
}

.main {
	padding: 0;
	margin-left: v.$size-sidebar;
}
@media (max-height: 700px), (max-width: 900px) {
	.main {
		margin-left: initial;
	}
}

.section {
	padding: 10px 0;
	width: 100%;
	
	&__title {
		display: flex;
		align-items: center;
		margin-top: 0;
		font-size: 40px;
		font-weight: 800;
		svg {
			margin: auto 0;
			margin-right: 20px;
			width: 50px;
			height: 50px;
			vertical-align: middle;
		}
	}

	&__container {
		margin: 0 auto;
		width: 100%;
		max-width: 1300px;
		margin-top: 100px;
		margin-bottom: 200px;
		padding: 0 10px;
	}
}

.home {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	position: relative;
	overflow: hidden;
	color: v.$font-color-invert;
	background: v.$second-color;
	background-image: url("/images/blur-overlay.png");
	height: 750px;
	min-height: 100vh;

	.section__container {
		margin-top: 150px;
		margin-bottom: 150px;
	}

	&__container {
		display: -ms-grid;
		display: grid;
		padding: 4rem 0;
		align-items: center;
		text-align: center;

		.boxLeft {
			-ms-grid-row: 1;
				grid-row: 1;
		}
		.boxRight {
			-ms-grid-row: 2;
				grid-row: 2;
		}
		p {
			max-width: 700px;
			margin: 40px auto;
		}
	}
	&__title {
		font-size: 60px;
		font-weight: 900;
		line-height: 1.1;
		margin-top: 0;
		margin-bottom: 20px;
		color: white;
		br {
			display: none;
		}
	}
	&__subtitle {
		font-size: 26px;
		font-weight: 200;
		color: v.$main-color;
	}

	.mouse {
		position: relative;
		margin: 0 auto;
		width: 30px;
		height: 60px;
		border: 2px solid white;
		border-radius: 50px;
		&:after {
			position: absolute;
			top: 10px;
			content: " ";
			width: 6px;
			height: 12px;
			left: calc(50% - 3px);
			border-radius: 25px;
			background-color: white;
			animation: mouse 1.5s infinite;
		}
	}
}
@keyframes mouse {
	from {
		opacity: 1;
		top: 10px;
	}
	to {
		opacity: 0;
		top: 20px;
	}
}

.profile {
	&__container {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr;
		align-items: center;
		.boxLeft {
			display: none;
			-ms-grid-row: 2;
				grid-row: 2;
		}
		.boxRight {
			-ms-grid-row: 1;
				grid-row: 1;
		}
		.aboutBox {
			background-color: v.$back-color-3;
			border-radius: v.$bd-radius;
			padding: 30px 40px;
			margin: 5px;
			margin-top: 20px;
		}
		.infoBox {
			padding-left: 40px;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		li {
			display: flex;
			margin: 5px 0;
			align-items: center;
			list-style: none;
			word-break: break-word;
			svg {
				width: 40px;
				height: 40px;
				padding: 5px;
				box-sizing: border-box;
				fill: v.$main-color;
			}
			span {
				margin-left: 10px;
				font-size: 20px;
				color: v.$main-color;
			}
		}
	}
}
.description {
	margin-top: 20px;
	text-align: justify;
	font-size: 16px;
	color: v.$font-color;
}


.link {
	position: relative;

	&::after {
		position: absolute;
		content: "";
		bottom: -2px;
		left: 0;
		border-bottom: 1px solid;
		width: 0;
		transition: width .4s cubic-bezier(.22,1,.36,1);
	}
	&:hover {
		color: v.$font-color-link-hover;
		&::after {
			width: 100%;
		}
	}
}

@media (min-width: 1040px) {
	.home {
		&__container {
			-ms-grid-columns: 80% 1fr;
				grid-template-columns: 80% 1fr;
			padding: 0 15px;
			text-align: left;
			p {
				margin-left: 0;
				margin-right: 0;
			}
			.boxRight {
				-ms-grid-row: 1;
					grid-row: 1;
				-ms-grid-column: 2;
					grid-column: 2;
			}
		}
		&__title {
			font-size: 80px;
			br {
				display: inline;
			}
		}
	}
	.profile__container {
		-ms-grid-columns: 1fr 63%;
			grid-template-columns: 1fr 63%;
		.boxLeft {
			display: block;
			-ms-grid-row: 1;
				grid-row: 1;
			margin-right: 30px;
		}
		.boxRight {
			-ms-grid-column: 2;
				grid-column: 2;
		}
	}
}